<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>模型计算</title>
</head>
<body>
<form action="/hello/" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
债券余额：<input type="text" name="Company_nature"/>
</br>
企业性质：<select name="Company_nature">

        <option>央企或国家级国有企业；</option>

        <option>地方国有企业，且地方国资委控股大于等于50%；</option>

        <option>地方国有企业，且地方国资委控股小于50%；主板上市的非国有企业；</option>

        <option>非上市的集体企业、民营企业、无实际控制人及其他；</option>


    </select>

</br>
发行人行业：<select name="Company_nature">
        <option>1类行业</option>

        <option>2类行业</option>

        <option>3类行业</option>

            </select>
</br>
信用环境：<select name="Company_nature">
        <option>央企或国家级国有企业</option>

        <option>地方国有企业，且地方国资委控股大于等于50%；</option>

        <option>地方国有企业，且地方国资委控股小于50%；主板上市的非国有企业；</option>

        <option>非上市的集体企业、民营企业、无实际控制人及其他；</option>

            </select>
</br>
债项类型：<select name="Company_nature">
        <option>国债</option>

        <option>金融债 - 国际开发机构人民币债券、政策性银行金融债券</option>

        <option>金融债 - 商业银行金融债券、其他金融机构债券</option>

        <option>地方政府债券</option>

        <option>企业债 - 一般企业债</option>

        <option>公司债 - 一般公司债、可交换公司债券、可转债、资产支持证券</option>

            </select>
</br>
担保金额：<input type="text" name="Company_nature"/>
</br>
担保类型：<select name="Company_nature">
        <option>中央级政府机构</option>

        <option>省级政府机构</option>

        <option>市级政府机构</option>

        <option>市级以下政府机构</option>

        <option>其他一般企业</option>

        <option>央企或国家级国有企业</option>

        <option>地方国企，且地方国资委持股大于等于50%；</option>

        <option>地方国企，且地方国资委持股小于50%；主板上市的非国有企业；</option>

        <option>政策性专业担保公司、信用增进公司（以政府信用为背景）</option>

        <option>其他一般商业担保公司</option>

        <option>自然人</option>

        <option>其他</option>

            </select>

</br>
担保人类型：<select name="Company_nature">
        <option>全额无条件不可撤销连带责任保证担保</option>

        <option>连带责任保证担保</option>

        <option>其他一般保证担保（承诺函等）</option>

            </select>
</br>
担保强度：<select name="Company_nature">
        <option>集团/母公司担保 - 被担保公司为集团的核心子公司</option>

        <option>集团/母公司担保 - 且被担保公司非集团的核心子公司</option>

        <option>集团内兄弟公司担保 - 且集团公司管理为紧密型（如：集团公司可以统一的资金管理及调度）</option>

        <option>集团内兄弟公司担保 - 且集团公司管理为松散型</option>

        <option>专业担保公司担保 - 专业公司评级资质及过往代偿记录良好，或担保公司评级为AA+级及以上或内评B级及</option>

        <option>专业担保公司担保 - 专业公司评级资质一般，或担保公司评级为AA+级别以下或内评B以下</option>

        <option>其他担保关系 - 分析师判断为较强的担保方式</option>

        <option>其他担保关系 - 分析师判断为中等的担保方式</option>

        <option>其他担保关系 - 分析师判断为较弱的担保方式</option>

            </select>
</br>
抵制金额：<input type="text" name="Company_nature"/>
</br>
抵质押品独立性：<select name="Company_nature">
        <option>第三方抵质押品</option>

        <option>非第三方抵质押品，且与债务人经营状况不直接相关</option>

        <option>非第三方抵质押品，且与债务人经营状况高度相关</option>

            </select>
</br>
抵质押类型：<select name="Company_nature">
        <option>位于一线城市的住宅用地土地使用权;商业用地土地使用权;商住用地土地使用权</option>

        <option>位于非一线城市的住宅用地土地使用权;商业用地土地使用权;商住用地土地使用权</option>

        <option>位于一线城市的住宅;写字楼;商铺与商场;酒店</option>

        <option>位于非一线城市的住宅;写字楼;商铺与商场;酒店</option>

        <option>位于一线城市的工业用地土地使用权;其它用地土地使用权;车位及车库;综合用地;在建工程;生产厂房;仓库</option>

        <option>位于非一线城市的工业用地土地使用权;其它用地土地使用权;车位及车库;综合用地;在建工程;生产厂房;仓</option>

        <option>船舶</option>

        <option>航空器</option>

        <option>车辆（含汽车合格证监管）</option>

        <option>机器设备;其他可接受的抵押动产</option>

        <option>黄金实物</option>

        <option>黄金制品</option>

        <option>有色金属及其制品</option>

        <option>钢材；煤炭；石油产品；纸类；机动车；纺织原料及制品；橡胶及轮胎；木材；化工类产品</option>

        <option>其他消费品</option>

        <option>路桥收费权；电费收费权；教育收费权</option>

        <option>注册商标专用权；专利权；著作权，其他不动产收益权</option>

        <option>采矿权</option>

        <option>人民币定期存单及现金等价物</option>

        <option>国债及其他国家信用债券</option>

        <option>外汇存单、外汇现汇；银行本票、汇票；银行承兑汇票；金融债券；一类银行</option>

        <option>外汇存单、外汇现汇；银行本票、汇票；银行承兑汇票；金融债券；二类银行</option>

        <option>外汇存单、外汇现汇；银行本票、汇票；银行承兑汇票；金融债券；三类银行</option>

        <option>人寿保险单及其他非金融机构的金融工具</option>

        <option>出口退税账户</option>

        <option>出口保险单</option>

        <option>海运提单；标准仓单</option>

        <option>其他有价证券/有价凭证_内部评级为B级及以上级别或者相当于此的外部评级</option>

        <option>其他有价证券/有价凭证_内部评级为B级以下，D级及以上级别或者相当于此的外部评级</option>

        <option>其他有价证券/有价凭证_内部评级为D级以下或者相当于此的外部评级</option>

        <option>非上市股权</option>

        <option>流通的国内上市股权（不包括新三板）</option>

        <option>限售的上市股权、国内新三板上市股权、海外上市股权</option>

        <option>账龄在一年以下，或欠款方信用良好的应收账款</option>

        <option>账龄较长，或欠款方还款能力欠佳的应收账款</option>

            </select>
</br>
抵质押品独立性：<select name="Company_nature">
        <option>无追偿障碍的不动产或动产，由可信赖的关联方或第三方控制</option>

        <option>追偿有一定障碍的动产，或者动产存放地点相对固定</option>

        <option>追偿有障碍的不动产或动产，存放地点难以掌握</option>

            </select>
</br>
执法环境：<select name="Company_nature">
        <option>1类地区</option>

        <option>2类地区</option>

        <option>3类地区</option>

            </select>
</br>
<input type="submit" value="提交"/>
</form>
</body>
</html>