<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择场景</title>
 <style>
a{
text-decoration:none;
color:black;
}
</style>
</head>
<body>
<h2>请选择测试场景：</h2>
 <p><a href = "http://127.0.0.1:8000/Single_people1/">单发行人无抵押无担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people2/">单发行人单抵押无担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people3/">单发行人无抵押单担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people4/">单发行人单抵押单担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people5/">单发行人多抵押无担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people6/">单发行人无抵押多担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people7/">单发行人多抵押多担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people8/">多发行人无抵押无担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people9/">多发行人单抵押无担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people10/">多发行人无抵押单担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people11/">多发行人单抵押单担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people12/">多发行人多抵押无担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people13/">多发行人无抵押多担保</a></p>
 <p><a href = "http://127.0.0.1:8000/Single_people14/">多发行人多抵押多担保</a></p>
</body>
</html>