<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单发行人无抵押单担保</title>
    <script type="text/javascript" src="../static/JavaScript/jquery.min.js"></script>
</head>
<body>
<h2>单发行人无抵押单担保人场景</h2>
<h4>债务人信息</h4>
<form action="/Single_people3/" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
债券余额：<input type="text" name="Company_nature"/>
<p>
企业性质：<select name="Company_nature">

        <option>央企或国家级国有企业；</option>

        <option>地方国有企业，且地方国资委控股大于等于50%；</option>

        <option>地方国有企业，且地方国资委控股小于50%；主板上市的非国有企业；</option>

        <option>非上市的集体企业、民营企业、无实际控制人及其他；</option>


    </select>
</p>
<p>
股权结构：<select name="Company_nature">
        <option>1类行业</option>

        <option>2类行业</option>

        <option>3类行业</option>

            </select>
</p>
<p>
信用环境：<select name="Company_nature">
         <option>1类地区</option>

        <option>2类地区</option>

        <option>3类地区</option>


            </select>
</p>
<p>
债项类型：<select name="Company_nature">
        <option>国债</option>

        <option>金融债 - 国际开发机构人民币债券、政策性银行金融债券</option>

        <option>金融债 - 商业银行金融债券、其他金融机构债券</option>

        <option>地方政府债券</option>

        <option>企业债 - 一般企业债</option>

        <option>公司债 - 一般公司债、可交换公司债券、可转债、资产支持证券</option>

            </select>
</p>
<h4>担保人信息</h4>
    <p>
担保金额：<input type="text" name="Company_nature"/>
    </p>
<p>
担保类型：<select name="Company_nature">
        <option>中央级政府机构</option>

        <option>省级政府机构</option>

        <option>市级政府机构</option>

        <option>市级以下政府机构</option>

        <option>其他一般企业</option>

        <option>央企或国家级国有企业</option>

        <option>地方国企，且地方国资委持股大于等于50%；</option>

        <option>地方国企，且地方国资委持股小于50%；主板上市的非国有企业；</option>

        <option>政策性专业担保公司、信用增进公司（以政府信用为背景）</option>

        <option>其他一般商业担保公司</option>

        <option>自然人</option>

        <option>其他</option>

            </select>

</p>
    <p>
担保人类型：<select name="Company_nature">
        <option>全额无条件不可撤销连带责任保证担保</option>

        <option>连带责任保证担保</option>

        <option>其他一般保证担保（承诺函等）</option>

            </select>
    </p>
    <p>
担保强度：<select name="Company_nature">
        <option>集团/母公司担保 - 被担保公司为集团的核心子公司</option>

        <option>集团/母公司担保 - 且被担保公司非集团的核心子公司</option>

        <option>集团内兄弟公司担保 - 且集团公司管理为紧密型（如：集团公司可以统一的资金管理及调度）</option>

        <option>集团内兄弟公司担保 - 且集团公司管理为松散型</option>

        <option>专业担保公司担保 - 专业公司评级资质及过往代偿记录良好，或担保公司评级为AA+级及以上或内评B级及</option>

        <option>专业担保公司担保 - 专业公司评级资质一般，或担保公司评级为AA+级别以下或内评B以下</option>

        <option>其他担保关系 - 分析师判断为较强的担保方式</option>

        <option>其他担保关系 - 分析师判断为中等的担保方式</option>

        <option>其他担保关系 - 分析师判断为较弱的担保方式</option>

            </select>
    </p>
<input id="submit" type="button" value="提交">
</form>
<a href="http://127.0.0.1:8000/index"><input type="button" value="选择场景"></a>
<hr>
<div id="result">
    <p>债务人调整系数：<span></span></p>
    <p>债项特征调整系数：<span></span></p>
    <p>抵质押品有效缓释值：<span></span></p>
    <p>担保人有效缓释值：<span></span></p>
    <p>原始的基础回收率：<span></span></p>
    <p>基础回收率：<span></span></p>
    <p>LGD值：<span></span></p>
    <p>LGD级别：<span></span></p>
</div>
<script>
    $(function(){
        $("#submit").click(() => {
            $.ajax({
                url: '/Single_people3/',
                type:'post',
                data: $("form").serialize(),
                success(data) {
                    data = JSON.parse(data);
                    console.log(data)
                    var el_list = $("#result").find("span");
                    for (let idx = 0; idx < el_list.length; idx++) {
                        $(el_list[idx]).text(data.json_str[idx]);
                    }
                }
            })
        })
    })
</script>
</body>
</html>