<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>多发行人无抵押无担保</title>
    <script type="text/javascript" src="../static/JavaScript/jquery.min.js"></script>
</head>

<body>
<h2>多发行人无抵押无担保场景：</h2>
<form>
     {% csrf_token %}
<p>发行人1有效认定评级违约率：<input type="text" name="Company_nature"/></p>
<p>发行人2有效认定评级违约率：<input type="text" name="Company_nature"/></p>
<p>债券余额：<input type="text" name="Company_nature"/>亿元</p>

<p>股权结构：<select name="Company_nature">

        <option>央企或国家级国有企业；</option>

        <option>地方国有企业，且地方国资委控股大于等于50%；</option>

        <option>地方国有企业，且地方国资委控股小于50%；主板上市的非国有企业；</option>

        <option>非上市的集体企业、民营企业、无实际控制人及其他；</option>


    </select>
</p>
<p>发行人行业：<select name="Company_nature">
        <option>1类行业</option>

        <option>2类行业</option>

        <option>3类行业</option>

            </select>
</p>
<p>信用环境：<select name="Company_nature">
        <option>1类地区</option>

        <option>2类地区</option>

        <option>3类地区</option>
            </select>
</p>
<p>债项类型：<select name="Company_nature">
        <option>国债</option>

        <option>金融债 - 国际开发机构人民币债券、政策性银行金融债券</option>

        <option>金融债 - 商业银行金融债券、其他金融机构债券</option>

        <option>地方政府债券</option>

        <option>企业债 - 一般企业债</option>

        <option>公司债 - 一般公司债、可交换公司债券、可转债、资产支持证券</option>

            </select>
</p>
<input id="submit" type="button" value="提交">

</form>
<a href="http://127.0.0.1:8000/index"><input type="button" value="选择场景"></a>
<hr>
<div id="result">
    <p>债务人调整系数：<span></span></p>
    <p>债项特征调整系数：<span></span></p>
    <p>抵质押品有效缓释值：<span></span></p>
    <p>担保人有效缓释值：<span></span></p>
    <p>原始的基础回收率：<span></span></p>
    <p>基础回收率：<span></span></p>
    <p>LGD值：<span></span></p>
    <p>LGD级别：<span></span></p>
    <p>主体有效认定评级：<span></span></p>
    <p>债券初始评级：<span></span></p>


</div>
<script>
    $(function(){
        $("#submit").click(() => {
            $.ajax({
                url: '/Single_people8/',
                type:'post',
                data: $("form").serialize(),
                success(data) {
                    data = JSON.parse(data);
                    console.log(data)
                    var el_list = $("#result").find("span");
                    for (let idx = 0; idx < el_list.length; idx++) {
                        $(el_list[idx]).text(data.json_str[idx]);
                    }
                }
            })
        })
    })
</script>
</body>
</html>